body{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-rows: 80px 100px 1fr 1fr 150px;
    grid-template-columns: 1fr 300px;
}

header{
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: rgb(177, 20, 20);
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

main{
    grid-row: 3 / 5;
    grid-column: 1 / -1;
}

aside{
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}

footer{
    background-color: rgb(177, 20, 20);
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.nav-menu{
    color: white;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-home-2{
    padding-top: 10px;
    padding-bottom: 20px;
}

.img-about-1{
    padding-top: 10px;
}

.text-center{
    text-align: center;
}

h2{
    margin: 0;
}

.list-main{
    list-style-position: inside;
}

.border-1{
    background-color: rgb(230, 227, 227);
    border: none;
    border-radius: 2%;
    margin: 10px 10px 50px 10px;
    padding: 15px;
}

.border-2{
    background-color: rgb(230, 227, 227);
    border: none;
    border-radius: 2%;
    margin: 10px 10px 40px 10px;
    padding: 15px;
}

.box-1{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.box-2{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.contact-footer{
    color: white;
    display: inline;
    padding-left: 10px;
    font-family: Verdana;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
}

.footer-text{
    padding: 5px;
}

/*contact pagina*/
input{
    display: block;
    width: 200px;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 10px;
    padding: 10px;
}

textarea{
    display: block;
    width: 250px;
    border: 2px solid black;
    margin-left: 10px;
    padding: 10px;
}

label{
    padding: 10px;
}

button{
    background-color:rgb(177, 20, 20);
    border: none;
    color: white;
    margin: 5px 5px 5px 10px;
    padding: 10px;
}

aside{
    padding: 0px 0px 10px 5px;
}

.img-contact{
    width: 250px;
    margin: 40px;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-links{
    display: block;
    color: black;
    font-size: 18px;
}

.info-links:hover{
    color: grey;
}

@media (min-width: 768px){
    form{
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 10px;
    }

    aside{
        grid-row: 3 / span 2;
        grid-column: 2 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-right: 10px;
    }

    main{
        margin-bottom: 30px;
    }

    .img-flexbox{
        display: flex;
        justify-content: space-evenly;
    }

    .img-contact{
        margin: 20px 0px 5px 0px;
    }

    .footer-text{
        padding: 10px;
    }
}

@media (min-width: 1024px){
    .nav-menu{
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;    
    }

    .img-home-1{
        width: 250px;
        margin: 10px 30px 10px 300px;
    }

    .img-home-2{
        width: 250px;
        margin: 10px 300px 10px 30px;;
    }
    
    .main-flexbox{
        display: flex;
        justify-content: center;
    }

    .main-flexbox hr{
        position: absolute;
        width: 100%;
    }

    .box-1{
        margin-top: 10px;
    }

    .box-2{
        margin-top: 20px;
    }

    .border-1{
        margin-left: 50px;
        margin-right: 50px;
    }

    /*Contact Pagina*/
    form{
        margin-left: 80px;
    }

    input{
        width: 300px;
    }

    textarea{
        width: 350px;
    }
}

